* {
  margin: 0;
}

.app {
  background-color: #282c34;
}

.app__header {
  background-color: #282c34;
  padding: 20px;
  border-bottom: 2px solid white;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: 'Special Elite', cursive;
  font-size: 1rem;
  z-index: 1;
  top: 0;
  position: sticky;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__header-h1 {
  object-fit: contain;
}

.app__posts {
  padding: 20px;
}

.app__login-btns {
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.app__icons {
  font-size: 20px;
}

.modal__input {
  width: 100%;
}