.image__upload {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 2px solid lightgray;
    background-color: white;
    align-items: center;
    padding: 10px;
}

.image__upload-btn {
    width: 80%;
}

.image__upload-text {
    max-width: 80%;
    min-width: 80%;
    margin-bottom: 10px;
}

.image__upload-image {
    width: 60%;
}

.image__upload-progress {
    width: 80%;
}