.image__upload {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid lightgray;
    background-color: white;
    align-items: center;
    padding: 10px;
}

.image__upload-btn {
    width: 50%;
}

.image__upload-text {
    width: 80%;
    margin-bottom: 10px;
}

.image__upload-image {
    width: 50%;
}

.image__upload-progress {
    width: 80%;
}